// базовые цвета
$text-color: #000000;
$bg-color: #FFFFFF;
$bg-color-dark: #735c44;

// рабочая палитра
$second-text-color: #11100E;
$text-color-logo: #C0AD95;
$text-color-light: #FFFFFF;
$text-color-placeholder: #07070763;
$text-color-on-button: #FFFFFF;
$text-color-subtitles: #937A60;
$text-color-red-price: #E52B2B;

$bg-color-button: #AF9678;
$bg-color-marker-on-picture: #11100E;
$main-decorate-color: #AF9678;
$dark-decorate-color: #4C3433;
$color-picture-pins: #000000;

$opacity-blure: 69;
