.banner {
  width: 43%;
  @include flex-col;
  flex-wrap: nowrap;
  @include font-gilroy(26px, 28px);
  padding-top: 170px;
}

.banner__title {
  margin-bottom: 40px;
  @include font-cormorant(70px);
}

.banner__description {
  margin-bottom: 20px;
  font-size: 33px;
}

.banner__counter {
  margin-bottom: 30px;
}

.banner__input {
  margin-bottom: 30px;
}
