.main-socials {
  @include size(26px, 100%);
}

.main-socials::before {
  content: "";

  position: absolute;
  top: 0;
  right: 10px;

  width: 2px;
  height: calc(50% - $height-social-list / 2 - 5px);
}

.main-socials::after {
  content: "";

  position: absolute;
  bottom: 0;
  right: 10px;

  width: 2px;
  height: calc(50% - $height-social-list / 2 - 5px);
}

.main-socials__list {
  @include list-reset;
  min-height: $height-social-list;
  @include flex-col-sp;
  @include pos-top-right(calc(50% - $height-social-list / 2));
}
