.picture {
  position: relative;
  @include size(360px, 544px);
}

.picture__line {
  position: absolute;
  @include size(100px, 2px);
  min-width: 100px;
  min-height: 2px;
  background-color: black;

  &_uh {
    top: -28px;
    right: 0;
  }

  &_uv {
    top: 50px;
    right: -80px;
    transform: rotate(90deg);
  }

  &_dh {
    bottom: -28px;
    left: 0;
  }

  &_dv {
    bottom: 50px;
    left: -80px;
    transform: rotate(90deg);
  }
}
