.container-fluid {
  width: 100%;
}

@media (max-width: $s-max) {
  .container-fluid {
    padding: 0 $s-padding;
  }
}

@media (min-width: $l-min) and (max-width: $l-max) {
  .container-fluid {
    padding: 0 $l-padding;
  }
}

@media (min-width: $xl-min) {
  .container-fluid {
    padding: 0 $xl-padding;
  }
}
