///////////////////////////
// Header
///////////////////////////

.header {
  background-color: $bg-color-dark;
}

.navbar {
  color: $text-color-light;
}

.navbar__logo {
  color: $text-color-logo;
}

.main-menu__link:hover {
  background-color: rgba($bg-color, 15%);
}

.banner {
  color: $text-color-light;
}

.main-socials::after,
.main-socials::before {
  background: $text-color-light;
}

///////////////////////////
// Main
///////////////////////////

.cost-content__title {
  color: $second-text-color;
}

.cost-content__text {
  color: $second-text-color;
  text-shadow: 1px -1px 7px #bad9005c;
}

///////////////////////////
// Forms
///////////////////////////

.form-button {
  color: $text-color-on-button;
  background-color: $bg-color-button;
}

.form-input {
  color: $second-text-color;
}
